@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@theme {
  --font-family: "Inter", sans-serif;
}

:root {
  --primary-color: white;
  --secondary-color: #f5f5f5;
  --primary-font-color: black;
  --secondary-font-color: #989898;
  --terciary-font-color: #909090;
  --banner-bg-primary: #211C24;
  --banner-bg-secondary: #353535;
  --banner-bg-terciary: #EDEDED;
  --category-bg-primary: #FAFAFA;
  --product-bg: #F0F0F0;
  --dark-button-bg: black;
  --light-button-bg: white;
}

body {
  overflow-x: hidden;
  font-family: var(--font-family);
}
